.person-lev-fan-focus {
	  width:70px;
	  text-align:left;
	  display:inline-block;
	}

	.article_title{
	  font-size:18px;
	  margin:15px 0 0 0;
	}
	.sub_title{
	  font-size:13px;
	  color:gray;
	  margin:0 0 0 10px;
	  border: 1px solid #E6E6FA;
	  padding:3px; 
	  width:60px; 
	  height:5px;
	  background:#E6E6FA; 
	  -moz-border-radius: 25px;
	  -webkit-border-radius: 25px;
	  border-radius:25px;
	}
	.article_title a:link {
	  color: #000000;
	  text-decoration: none;
	}
	.article_title a:visited {
	  color: #000000;
	  text-decoration: none;
	}
	.article_title a:hover {
	  color: #999999;
	  text-decoration: none;
	 } 
